.product-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #fff;

  .product-form-header {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    .product-input {
      width: 80%;
      height: 28px;
      padding: 0 5px;
      color: #fff;
      background-color: #34495E;
      border: none;
    }

    .product-name {
      margin-bottom: 5px;
    }
  }

  .add-button {
    background-color: #2B2C30;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
  }

  .button-disabled {
    cursor: not-allowed;
    color: #979aa0;
  }
}
