<div class="product-form">
    <div class="product-form-header">Add product to your cart list</div>
    <div class="input-container">
      <input class="product-input product-name" [(ngModel)]="productName" type="text" placeholder="Product name">
      <input class="product-input" [(ngModel)]="productPrice" type="number" placeholder="Product price">
    </div>
    <app-counter
      [currentAmount]="productAmount"
      (amountUpdated)="handleUpdatedAmount($event)">
    </app-counter>
    <app-image-selector
      [selectedImage]="productImage"
      (selectedImageUpdated)="handleUpdatedSelectedImage($event)">
    </app-image-selector>
    <div
      class="add-button noselect"
      [ngClass]="{ 'button-disabled' : !productName || !productPrice }"
      (click)="addProduct()">
      Add to list
    </div>
</div>
