.image-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .image-select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495E;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 85px;
    margin-top: 10px;
    background-color: #2C3E50;

    .image-select-button:hover {
      background-color: #202D3A;
    }
  }
}
