<div class="image-selector-container noselect">
  <div class="image-select-button" (click)="toggleImageSelector()">
    <img [src]="'/assets/img/' + selectedImage + '.png'" />
  </div>
  <div class="images-container" *ngIf="imageSelectorShown">
    <div class="image-select-button" *ngFor="let image of productsImages" (click)="changeSelectedImage(image)">
      <img [src]="'/assets/img/' + image + '.png'" />
    </div>
  </div>
</div>
