.counter {
  display: flex;
  margin-bottom: 10px;

  div {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
  }

  .counter-button {
    background-color: #222C36;
    cursor: pointer;
  }
}
