<div class="counter">
  <div class="counter-button noselect" (click)="decreaseAmount()">-</div>
  <div>{{currentAmount}}</div>
  <div class="counter-button noselect" (click)="increaseAmount()">+</div>
</div>
