.product-profile {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  .name {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .image {
    margin-bottom: 20px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .price {
    margin: 10px 0;
  }

  .back-button {
    margin-top: 20px;
    background-color: #2B2C30;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
  }
}
