<div class="product-profile">
  <div class="name">{{product.name}}</div>
  <div class="image">
    <img [src]="'/assets/img/' + product.image + '.png'" />
  </div>
  <div>Count: {{product.amount}}</div>
  <div class="price">Price: {{product.price}}$</div>
  <div>Total: {{productTotalPrice}}</div>
  <div class="back-button noselect" [routerLink]="['/product-list']">Back to list</div>
</div>
