<div class="product-container">
  <div class="product-image-container"><img [src]="'/assets/img/' + product.image + '.png'" /></div>
  <div class="product-info">
    <div class="product-name">{{product.name}}</div>
    <app-counter [currentAmount]="product.amount" (amountUpdated)="handleUpdatedAmount($event)"></app-counter>
    <div class="product-total">Total: {{productTotalPrice}}$</div>
  </div>
  <div class="buttons-container">
    <div class="button" (click)="deleteProduct()">
      <img src="/assets/img/rubbish-bin.svg" />
    </div>
    <div class="button" routerLink="/product-profile/{{product.id}}">
      <img src="/assets/img/link.svg" />
    </div>
  </div>
</div>
