.product-container {
  position: relative;
  display: flex;
  background-color: #34495E;
  margin-bottom: 5px;
  padding: 10px;

  .product-image-container {
    display: flex;
    align-items: center;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .product-name {
      margin-bottom: 10px;
    }
  }

  .buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 10%;
    height: 25px;
    justify-content: space-around;
    align-items: center;
    background-color: #222C36;

    .button img{
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
