<div class="product-list-container">
  <div class="product-list-title">Product list</div>
  <div class="product-list">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </div>
  <div>Total: {{productsTotalPrice}}$</div>
</div>
