.product-list-container {
  color: #fff;
  width: 500px;

  .product-list-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .product-list {
    margin-bottom: 10px;
  }
}
